/*payment_time*/
.payment_time{
	width: 100%;
}
.payment_time_title{
	width: 100%;

	overflow: hidden;
	font-size: 14px;
}
.payment_time_title label{
	margin-left: 0px;
}
.payment_time_title span{
	float: right;

	color: #999;
}
.payment_time_mask{
	display: none;
}
.payment_time_list{
	width: 94%;
	margin: 0 auto;
}
.payment_time_list li{
	width: 44%;
	height: 140px;
	float: left;
	margin: 10px 3%;
}
.payment_time_list span{
	height: 105px;
	display: block;
}
.payment_time_list em{
	height: 35px;
	display: block;
	text-align: center;
	line-height: 35px;
	overflow: hidden;
	font-size: 14px;
}
.payment_time_list span a img{
	width: 100%;
	height: 100%;
}
.payment_time_mask{
	z-index: 999;
	width: 90%;
	height: 76px;
	position: absolute;
	left: 5%;
	top: 115px;
	border-radius: 15px;
	overflow: hidden;
	text-align: center;
}
.payment_time_mask li{
	height: 38px;
	line-height: 38px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}
#bg{
	background-color:#000;
	position:fixed;
	z-index:99;
	left:0;
	top:0;
	display:none;
	width:100%;
	height:100%;
	opacity:0.3;
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
}