<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>大学生职业发展规划平台</display-name>
  <welcome-file-list>
    <welcome-file>studentLogin</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>backFilter</filter-name>
    <filter-class>utils.BackFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>backFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>StudentLoginServlet</servlet-name>
    <servlet-class>web.login.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginServlet</servlet-name>
    <url-pattern>/studentLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>web.login.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ToRegistrationServlet</servlet-name>
    <servlet-class>web.login.ToRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToRegistrationServlet</servlet-name>
    <url-pattern>/toRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentHomePageServlet</servlet-name>
    <servlet-class>web.homepage.StudentHomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentHomePageServlet</servlet-name>
    <url-pattern>/studentHomePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentZoneServlet</servlet-name>
    <servlet-class>web.zone.StudentZoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentZoneServlet</servlet-name>
    <url-pattern>/studentZone</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobRecommendServlet</servlet-name>
    <servlet-class>web.job.JobRecommendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobRecommendServlet</servlet-name>
    <url-pattern>/jobRecommend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentMessageServlet</servlet-name>
    <servlet-class>web.zone.StudentMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentMessageServlet</servlet-name>
    <url-pattern>/studentMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentCollectionServlet</servlet-name>
    <servlet-class>web.zone.StudentCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentCollectionServlet</servlet-name>
    <url-pattern>/studentCollection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyFriendsServlet</servlet-name>
    <servlet-class>web.zone.MyFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFriendsServlet</servlet-name>
    <url-pattern>/myFriends</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResumeEditServlet</servlet-name>
    <servlet-class>web.ResumeEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResumeEditServlet</servlet-name>
    <url-pattern>/resume</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonServlet</servlet-name>
    <servlet-class>web.PersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonServlet</servlet-name>
    <url-pattern>/person</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobIntensionServlet</servlet-name>
    <servlet-class>web.JobIntensionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobIntensionServlet</servlet-name>
    <url-pattern>/job</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeIntensionServlet</servlet-name>
    <servlet-class>web.ChangeIntensionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeIntensionServlet</servlet-name>
    <url-pattern>/change</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WIndustryServlet</servlet-name>
    <servlet-class>web.WIndustryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WIndustryServlet</servlet-name>
    <url-pattern>/wIndustry</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeachHistoryServlet</servlet-name>
    <servlet-class>web.TeachHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeachHistoryServlet</servlet-name>
    <url-pattern>/teach</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WorkExperienceServlet</servlet-name>
    <servlet-class>web.WorkExperienceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkExperienceServlet</servlet-name>
    <url-pattern>/work</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobTypeServlet</servlet-name>
    <servlet-class>web.JobTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobTypeServlet</servlet-name>
    <url-pattern>/jobType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonMessageChangeServlet</servlet-name>
    <servlet-class>web.PersonMessageChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonMessageChangeServlet</servlet-name>
    <url-pattern>/personMessageChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentDetailServlet</servlet-name>
    <servlet-class>web.homepage.StudentDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDetailServlet</servlet-name>
    <url-pattern>/studentDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AgreeFriendsRequestServlet</servlet-name>
    <servlet-class>web.zone.AgreeFriendsRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgreeFriendsRequestServlet</servlet-name>
    <url-pattern>/agreeFriendsRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageDetailServlet</servlet-name>
    <servlet-class>web.zone.MessageDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageDetailServlet</servlet-name>
    <url-pattern>/messageDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveMessageServlet</servlet-name>
    <servlet-class>web.zone.RemoveMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveMessageServlet</servlet-name>
    <url-pattern>/removeMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveFriendsServlet</servlet-name>
    <servlet-class>web.zone.RemoveFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFriendsServlet</servlet-name>
    <url-pattern>/removeFriends</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CollectionDetailServlet</servlet-name>
    <servlet-class>web.zone.CollectionDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectionDetailServlet</servlet-name>
    <url-pattern>/collectionDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveCollectionServlet</servlet-name>
    <servlet-class>web.job.RemoveCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCollectionServlet</servlet-name>
    <url-pattern>/removeCollection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendFriendsRequestServlet</servlet-name>
    <servlet-class>web.homepage.SendFriendsRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFriendsRequestServlet</servlet-name>
    <url-pattern>/sendFriendsRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobRecommendDetailServlet</servlet-name>
    <servlet-class>web.job.JobRecommendDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobRecommendDetailServlet</servlet-name>
    <url-pattern>/jobRecommendDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCollectionServlet</servlet-name>
    <servlet-class>web.job.AddCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCollectionServlet</servlet-name>
    <url-pattern>/addCollection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyResumeServlet</servlet-name>
    <servlet-class>web.zone.MyResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyResumeServlet</servlet-name>
    <url-pattern>/myResume</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddJobExpectServlet</servlet-name>
    <servlet-class>web.zone.AddJobExpectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJobExpectServlet</servlet-name>
    <url-pattern>/addJobExpect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStuEduServlet</servlet-name>
    <servlet-class>web.zone.AddStuEduServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStuEduServlet</servlet-name>
    <url-pattern>/addStuEdu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AgreeInterviewServlet</servlet-name>
    <servlet-class>web.zone.AgreeInterviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgreeInterviewServlet</servlet-name>
    <url-pattern>/agreeInterview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RefuseInterviewServlet</servlet-name>
    <servlet-class>web.zone.RefuseInterviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefuseInterviewServlet</servlet-name>
    <url-pattern>/refuseInterview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InterviewMessageServlet</servlet-name>
    <servlet-class>web.zone.InterviewMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterviewMessageServlet</servlet-name>
    <url-pattern>/interviewMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>web.zone.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InterviewDetailServlet</servlet-name>
    <servlet-class>web.zone.InterviewDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterviewDetailServlet</servlet-name>
    <url-pattern>/interviewDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCollegeListServlet</servlet-name>
    <servlet-class>web.homepage.GetCollegeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCollegeListServlet</servlet-name>
    <url-pattern>/getCollegeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetDepartmentServlet</servlet-name>
    <servlet-class>web.homepage.GetDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDepartmentServlet</servlet-name>
    <url-pattern>/getDepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CollegeReturnHomeServlet</servlet-name>
    <servlet-class>web.homepage.CollegeReturnHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollegeReturnHomeServlet</servlet-name>
    <url-pattern>/collegeReturnHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeptReturnHomeServlet</servlet-name>
    <servlet-class>web.homepage.DeptReturnHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptReturnHomeServlet</servlet-name>
    <url-pattern>/deptReturnHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsDetailServlet</servlet-name>
    <servlet-class>web.homepage.NewsDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsDetailServlet</servlet-name>
    <url-pattern>/newsDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsListServlet</servlet-name>
    <servlet-class>web.homepage.NewsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsListServlet</servlet-name>
    <url-pattern>/newsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompanyDetailServlet</servlet-name>
    <servlet-class>web.job.CompanyDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyDetailServlet</servlet-name>
    <url-pattern>/companyDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendResumeServlet</servlet-name>
    <servlet-class>web.job.SendResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendResumeServlet</servlet-name>
    <url-pattern>/sendResume</url-pattern>
  </servlet-mapping>
</web-app>